@media only screen and (max-width:768px){
    nav ul {
        display: none;
    }

    #menu-icon{
        display: block;
    }

    nav ul li {
        text-align: center;
        margin-top: 2rem;
    }
    
}

@media only screen and (max-width:350px){
   nav .logo p{
    font-size: 1.5rem;
    }

}


@media (max-width:979px) {
  #home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-img {
    width: 100%;
    height: 250px;
    margin-top: 50px;
  }

  .home-img img {
    height: 15rem;
    width: 12rem;
  }

  .home-text h1 {
    font-size: 32px;
  }
}