@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    scroll-behavior: smooth;
    overflow: hidden;
}

header {
    width: 100%;
    height: 100vh;
}

/* nav styling */
nav {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background-color: rgb(0, 0, 139);
    position: relative;
}



.logo p {
    font-weight: 900;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-style: italic;
    color: #fff;
}


nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    color: #fff;
    position: relative;

}

nav ul li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid #fff;
    transition: 0.3s;
    width: 0;
    height: 100%;
}

nav ul li a:hover::after {
    width: 100%;
}

#menu-icon {
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    display: none;
}


/* responsive nav class */
.show-ul{
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    background-color: black;
    transition: 0.2s;
}


/* home section styling  */
#home {
  min-height: 100vh;
  padding: 7rem 3.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #ffffff;
}

.home-text {
  max-width: 50rem;
}

.home-text h1 {
  font-size: 2.7rem;
  margin-bottom: 0.9rem;
}

.home-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  width: 100%;
}

.home-btn {
  padding: 0.4rem 1.9rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  margin-top: 0.8rem;
  font-size: 1rem;
  font-family: sans-serif;
  background-color: blue;
  font-weight: 700;
  color: white;
  width: 10rem;
  transition: 0.2s ease;
}

.home-btn:hover{
      box-shadow: 0 0 0.8rem blue;
}

.home-img {
  width: 27rem;
  height: 30rem;
  background: none;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  cursor: pointer;

}


.home-img img {
  display: flex;
  width: 22rem;
  height: 23rem;
}

.home-text h1 span{
    color: blue;
}